<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>GaelGil</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#1D3557">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#1D3557">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#1D3557">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" media="screen" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/normalize.css" media="screen" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600)" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Volkhov:400italic" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124835958-1"></script>
